body {
  font-family: calibri;
  color: #000000;
}

.container {
  display: grid;
  margin: auto;
  width: 70%;
  grid-template-columns: 1fr;
  margin-top: 60px;
}

.options {
  display: inline-flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.button {
  margin-top: 0;
  width: 20%;
  margin: 0 15px;
  height: 45px;
  border-radius: 9px;
  background-color: #324494;
  /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.btn-cadastrar:hover {
  box-shadow: 0 10px 10px 0 rgba(110, 110, 110, 0.24), 0 17px 50px 0 rgba(126, 125, 125, 0.19);
}

.search {
  border-radius: 12px;
  width: 100%;
  margin-top: 0;
  border: 2px solid #ccc;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.table {
  box-shadow: 0 4px 4px 0 rgba(99, 98, 98, 0.2), 0 6px 15px 0 rgba(124, 123, 123, 0.19);
}

.table th {
  text-align: left;
  background: #1f2b96;
  padding: 10px;
  color: white;
}

.table td {
  border: #ececec 1px solid;
  text-align: left;
  padding: 10px;
}

@media screen and (max-width: 900px) and (min-width: 550px) {
  .informacao-5 {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .informacao-5 {
    display: none;
  }
  .informacao-4 {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  .informacao-5 {
    display: none;
  }
  .informacao-4 {
    display: none;
  }
  .informacao-3 {
    display: none;
  }
  .informacao-2 {
    display: none;
  }
}