/* coisas a corrigir nessa tela */

.limiter-step3{
    width: 100%;
    margin: 0 auto;
  }
  
  .container-box-step3{
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #f2f2f2;  
  }
  
  .wrap-step3{
    width: 800px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
  
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  }
  
    .title-3{
      font-family: 'Roboto' sans-serif;
      display: flex;
      font-size: 32px;
      color: #324494;
      align-items: center;
      margin: auto;
    }
  
  
    /* .form-turma{
      display: flex;
      justify-content: center;
      margin:auto;
      flex-direction: column;
      background-color: white;
      border-radius: 5px;
      font-family: Verdana,Tahoma,sans-serif;
      font-size: 16px;
      width: 100%;
    } */
  
    .title-disciplina{
      margin-top: 20px;
      font-family: 'Roboto' sans-serif;
      display: flex;
      align-content: flex-start;
      align-items: center;
      font-size: 16px;
      color: #324494;
  }

  /* label{
    margin-top: 20px;
    font-family: 'Roboto';
    display: flex;
    align-content: flex-start;
    align-items: center;
    font-size: 16px;
    color: #324494;
}

label{
  margin-top: 20px;
  font-family: 'Roboto';
  display: flex;
  align-content: flex-start;
  align-items: center;
  font-size: 16px;
  color: #324494;
} */
   
  
  input {
    outline: none;
    border: none;
    border-bottom: solid #cfcccc;
    line-height: 0,5px;
    width: 50%;
    margin-right: 10px;
  
  
      }
   
    .btn-turma-enviar {
        margin-top: 20px;
        font-family: 'Roboto', sans-serif;
        border-radius: 9px;
        background-color: #425cd1;
        border: none;
        color: white; 
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        height: 40px;
        width: 70px;
  
    }
  
    @media screen and (max-width: 900px) and (min-width: 550px) {
      .informacao-5 {
        display: none;
      }
    }
    
    @media screen and (max-width: 550px) {
      .informacao-5 {
        display: none;
      }
      .informacao-4 {
        display: none;
      }
    }
    
    @media screen and (max-width: 300px) {
      .informacao-5 {
        display: none;
      }
      .informacao-4 {
        display: none;
      }
      .informacao-3 {
        display: none;
      }
      .informacao-2 {
        display: none;
      }
    }